.project-section
  background: #172037 url('../img/bg-articles.jpg')

.project-also
  padding-top: 49px
  padding-bottom: 54px
  background: #2b303e
  text-transform: uppercase

.project-also__title
  color: #ffffff
  font-size: 36px
  line-height: 1
  letter-spacing: 0.093em
  margin-bottom: 35px
  font-family: $font-family-alt
  display: flex
  align-items: center
  &::after
    content: ''
    height: 1px
    width: 136px
    background: #e4a76c
    margin-left: 52px
