.project-section
  background: #172037 url('../img/bg-articles.jpg')

.project-also
  padding-top: 97px
  padding-bottom: 90px
  background: #2b303e

.project-also__title
  color: #ffffff
  font-size: 36px
  line-height: 1
  letter-spacing: 0.093em
  margin-bottom: 79px
  font-family: $font-family-alt
  display: flex
  align-items: center
  &::after
    content: ''
    height: 1px
    width: 136px
    background: #e4a76c
    margin-left: 52px

.project-also__grid
  padding: 0 40px
  position: relative
  +below(large)
    padding: 0
  > *
    position: relative
    z-index: 20
  &::before
    content: ''
    display: table
  &::after
    content: ''
    position: absolute
    z-index: 10
    width: 624px
    height: 202px
    top: -60px
    right: -60px
    background: url('../img/bg-stripe-gray.png')

.project-main
  display: flex
  background: #2b303e
  margin-bottom: -65px
  position: relative
  z-index: 20
  +below(medium)
    flex-wrap: wrap
  +below(small)
    margin-left: -20px
    margin-right: -20px
  &::after
    content: ''
    position: absolute
    z-index: 10
    width: 460px
    height: 280px
    top: -60px
    right: -60px
    background: url('../img/bg-stripe-gray.png')
    +below(small)
      top: -15px
      right: -250px

.project-main__left
  width: 20%
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  z-index: 20
  background: #2b303e
  +below(medium)
    width: 100%
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
  +below(small)
    flex-direction: column
    order: 1

.project-main__center
  flex-grow: 1
  position: relative
  z-index: 20
  background: #2b303e
  +below(medium)
    width: calc(100% - 160px)
  +below(small)
    width: 100%

.project-main__right
  width: 200px
  padding: 10px
  position: relative
  z-index: 20
  background: #2b303e
  +below(medium)
    width: 160px
  +below(small)
    width: 100%
    padding: 0

.project-main__category
  padding: 0 15px
  min-height: 46px
  display: flex
  align-items: center
  border-radius: 23px
  font-family: $font-family-alt
  font-weight: 500
  color: rgba(255, 255, 255, .65)
  letter-spacing: 0.05em
  text-decoration: none
  font-size: 14px
  line-height: 1
  border: none
  cursor: pointer
  background-color: #111624
  text-align: center
  justify-content: center
  svg
    width: 16px
    height: 16px
    min-width: 16px
    min-height: 16px
    position: relative
    vertical-align: middle
    top: -1px
    margin-right: 10px
    display: inline-block

.project-main__year
  font-size: 24px
  line-height: 1
  color: #ffffff
  margin: 15px 0
  font-family: $font-family-alt
  font-weight: 500

.project-main__description
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: center
  padding-left: 40px
  width: 100%
  font-size: 18px
  letter-spacing: 0.05em
  line-height: 1.35
  color: #cacaca
  text-transform: uppercase
  font-family: $font-family-alt
  +below(xlarge)
    padding-left: 0
  +below(medium)
    width: 100%
    margin-top: 15px
  p + p
    margin-top: 25px

.project-main-gallery
  position: relative
  overflow: hidden

.project-main-gallery__wrapper
  display: flex

.project-main-gallery__item
  flex: none
  width: 100%
  height: 450px
  position: relative
  overflow: hidden
  +below(small)
    height: 360px
  img
    +pouring-image

.project-main-gallery__previous
  position: absolute
  top: 10px
  right: 64px

.project-main-gallery__next
  position: absolute
  top: 10px
  right: 10px

.project-main-thumbs
  position: relative
  overflow: hidden
  height: 100%
  +below(small)
    width: 100%
    height: 80px

#project-thumbs-vertical
  display: block
  +below(small)
    display: none

#project-thumbs-horizontal
  display: none
  +below(small)
    display: block

.project-main-thumbs__wrapper
  display: flex
  flex-direction: column
  height: 100%
  +below(small)
    flex-direction: row

.project-main-thumbs__item
  flex: none
  height: 25%
  position: relative
  +below(small)
    height: 100%
    width: 33.33%
  &._active
    border: 3px solid #e4a76c
    +below(small)
      border-width: 2px

.project-main-thumbs__image
  position: absolute
  left: 10px
  right: 10px
  top: 10px
  bottom: 10px
  overflow: hidden
  +below(small)
    left: 5px
    right: 5px
    top: 5px
    bottom: 5px
  img
    +pouring-image

.project-main-thumbs__previous
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
  +below(small)
    left: 0
    top: 50%
    transform: translateY(-50%)

.project-main-thumbs__next
  position: absolute
  left: 50%
  bottom: 0
  transform: translateX(-50%)
  +below(small)
    left: auto
    bottom: auto
    right: 0
    top: 50%
    transform: translateY(-50%)
