.quiz-section
  background: #008fcd
  display: none
  padding-top: 267px
  padding-bottom: 187px

.quiz
  position: relative
  &::after
    content: ''
    position: absolute
    z-index: 15
    width: 624px
    height: 154px
    top: -97px
    right: -47px
    background: url('../img/bg-stripe-gray.png')


.quiz-decoration-1-1,
.quiz-decoration-1-2,
.quiz-decoration-1-3,
.quiz-decoration-1-4,
.quiz-decoration-1-5,
.quiz-decoration-1-6,
.quiz-decoration-1-7,
.quiz-decoration-1-8,
.quiz-decoration-1-9
  position: absolute
  z-index: 30
  background: url('../img/quiz-decorations-1.png')
  width: 38px
  height: 41px

.quiz-decoration-1-1
  left: 0
  top: 0

.quiz-decoration-1-2
  left: 0
  top: 0

.quiz-decoration-1-3
  left: 0
  top: 0

.quiz-decoration-1-4
  left: 0
  top: 0

.quiz-decoration-1-5
  left: 0
  top: 0

.quiz-decoration-1-6
  left: 0
  top: 0

.quiz-decoration-1-7
  left: 0
  top: 0

.quiz-decoration-1-8
  left: 0
  top: 0

.quiz-decoration-1-9
  left: 0
  top: 0

.quiz-decoration-2
  position: absolute
  z-index: 10
  right: 663px
  top: -131px
  background: url('../img/quiz-decorations-2.png')
  width: 191px
  height: 228px

.quiz-decoration-3
  position: absolute
  z-index: 30
  right: 587px
  top: -137px
  background: url('../img/quiz-decorations-3.png')
  width: 103px
  height: 164px

.quiz-decoration-4-1,
.quiz-decoration-4-2,
.quiz-decoration-4-3,
.quiz-decoration-4-4
  position: absolute
  z-index: 30
  background: url('../img/quiz-decorations-4.png')
  width: 16px
  height: 15px

.quiz-decoration-4-1
  left: 0
  top: 0

.quiz-decoration-4-2
  left: 0
  top: 0

.quiz-decoration-4-3
  left: 0
  top: 0

.quiz-decoration-4-4
  left: 0
  top: 0

.quiz-decoration-12
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-12.png')
    background-size: cover
    width: 254px
    height: 201px
    left: -27px
    top: -136px
    z-index: 30

.quiz__title
  position: absolute
  right: -35px
  top: -208px
  z-index: 30
  text-align: center
  padding: 76px 30px 20px 60px
  width: 629px
  height: 228px
  background: url('../img/quiz-decorations-11.png')
  font-weight: 500
  font-size: 30px
  line-height: 34px
  font-family: $font-family-alt
  color: #1c296f
  span
    background-color: #f7442c
    color: #ffffff
    padding: 0 2px
  
.quiz__decorations
  
.quiz-body
  display: flex
  position: relative
  z-index: 20
  
.quiz-body__left
  width: 70%
  background-color: rgb(31, 150, 20)
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11)
  
.quiz-body__right
  background-color: rgb(15, 75, 10)
  width: 30%
