.quiz-section
  background: #008fcd
  display: none
  padding-top: 267px
  padding-bottom: 187px
  overflow: hidden

.quiz
  position: relative
  &::after
    content: ''
    position: absolute
    z-index: 15
    width: 624px
    height: 154px
    top: -97px
    right: -47px
    background: url('../img/bg-stripe-gray.png')

@keyframes snowflake
  from
    transform: translateY(-100vh)
  to
    transform: translateY(100vh)

.quiz-decoration-1-1,
.quiz-decoration-1-2,
.quiz-decoration-1-3,
.quiz-decoration-1-4,
.quiz-decoration-1-5,
.quiz-decoration-1-6,
.quiz-decoration-1-7,
.quiz-decoration-1-8,
.quiz-decoration-1-9,
.quiz-decoration-1-10
  position: absolute
  z-index: 30
  background: url('../img/quiz-decorations-1.png')
  width: 38px
  height: 41px
  animation-name: snowflake
  animation-iteration-count: infinite
  animation-timing-function: linear

.quiz-decoration-1-1
  left: 166px
  top: -168px
  animation-duration: 12s

.quiz-decoration-1-2
  left: 215px
  top: -68px
  animation-duration: 10s

.quiz-decoration-1-3
  left: 316px
  top: -64px
  animation-duration: 16s

.quiz-decoration-1-4
  right: 570px
  top: -176px
  animation-duration: 20s

.quiz-decoration-1-5
  right: 472px
  top: 19px
  animation-duration: 14s

.quiz-decoration-1-6
  right: -198px
  top: 150px
  animation-duration: 11s

.quiz-decoration-1-7
  right: -87px
  top: 233px
  animation-duration: 12s

.quiz-decoration-1-8
  left: -31px
  bottom: 130px
  animation-duration: 18s

.quiz-decoration-1-9
  left: -78px
  bottom: -109px
  animation-duration: 22s

.quiz-decoration-1-10
  left: -189px
  bottom: -192px
  animation-duration: 19s

.quiz-decoration-2
  position: absolute
  z-index: 10
  right: 663px
  top: -131px
  background: url('../img/quiz-decorations-2.png')
  width: 191px
  height: 228px

.quiz-decoration-3
  position: absolute
  z-index: 30
  right: 587px
  top: -137px
  background: url('../img/quiz-decorations-3.png')
  width: 103px
  height: 164px

.quiz-decoration-4-1,
.quiz-decoration-4-2,
.quiz-decoration-4-3,
.quiz-decoration-4-4
  position: absolute
  z-index: 30
  background: url('../img/quiz-decorations-4.png')
  width: 16px
  height: 15px
  animation-name: snowflake
  animation-iteration-count: infinite
  animation-timing-function: linear

.quiz-decoration-4-1
  left: 144px
  top: -46px
  animation-duration: 30s

.quiz-decoration-4-2
  left: 338px
  top: -120px
  animation-duration: 35s

.quiz-decoration-4-3
  right: -60px
  top: 182px
  animation-duration: 40s

.quiz-decoration-4-4
  left: -194px
  bottom: -115px
  animation-duration: 45s

.quiz-decoration-5
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-5.png') no-repeat 100% 0
    width: 111px
    height: 162px
    left: 0
    bottom: 0
    z-index: 30

.quiz-decoration-6
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-6.png')
    background-size: cover
    width: 86px
    height: 130px
    left: -97px
    bottom: -8px
    z-index: 10

.quiz-decoration-7
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-7.png')
    background-size: cover
    width: 88px
    height: 133px
    left: -193px
    bottom: 0
    z-index: 10

.quiz-decoration-8
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-8.png')
    background-size: cover
    width: 104px
    height: 160px
    right: -138px
    bottom: -5px
    z-index: 10

.quiz-decoration-9
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-9.png')
    background-size: cover
    width: 106px
    height: 113px
    right: -197px
    bottom: 5px
    z-index: 5

.quiz-decoration-12
    content: ''
    position: absolute
    background: url('../img/quiz-decorations-12.png')
    background-size: cover
    width: 254px
    height: 201px
    left: -27px
    top: -136px
    z-index: 30

.quiz__title
  position: absolute
  right: -35px
  top: -208px
  z-index: 30
  text-align: center
  padding: 76px 30px 20px 60px
  width: 629px
  height: 228px
  background: url('../img/quiz-decorations-11.png')
  font-weight: 500
  font-size: 30px
  line-height: 34px
  font-family: $font-family-alt
  color: #1c296f
  span
    background-color: #f7442c
    color: #ffffff
    padding: 0 2px
  
.quiz__decorations
  
.quiz-body
  display: flex
  position: relative
  z-index: 20
  
.quiz-body__left
  width: 66.66%
  background-color: rgb(31, 150, 20)
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11)
  min-height: 476px
  
.quiz-body__right
  background-color: rgb(15, 75, 10)
  width: 33.33%
