.works-section
  padding-bottom: 34px
  background: #0f1320 url('../img/bg-projects.jpg') no-repeat 50% 0
  background-size: 100% auto
  +below(small)
    background-size: auto auto

.works-content
  margin: 30px 0
  color: #fff
